<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRM Regression Test Suite">
	

  <test verbose="3" name="Admin Test">
    <classes>
      <class name="com.crm.testscripts.AdminTests"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->
